<h1><%=image_tag @select_menu_1%></h1>
<h1><%=image_tag @select_menu_2%></h1>
<h1><%=image_tag @select_menu_3%></h1>
<h1><%=image_tag @select_menu_4%></h1>
<h1><%=image_tag @select_menu_5%></h1>
<h1><%=image_tag @select_menu_6%></h1>
